    <!-- Proyectos -->
    <section id="proyectos"class="proyectos seccion-clara d-flex flex-colum">
        <h2 class="seccion-titulo texto-negro">Mis proyectos</h2>
        <h3 class="seccion-descripcion">Estos son algunos de mis proyectos</h3>
        <div class="container text-center proyectos-contenedor">
        <!-- Proyecto 1 -->
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src="{{proyecto1.urlImagen}}" alt="Proyecto 1">
                <div class="overlay">
                <p>{{proyecto1.nombreProyecto}}</p>
                <div class="icono-contenedor d-flex justify-content-center">
                    <a href={{proyecto1.urlGitHub}} target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                    </a>
                </div>
                </div>
            </div>
            </div>
        <!-- Proyecto 2 -->
            <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src={{proyecto2.urlImagen}} alt="Proyecto 2">
                <div class="overlay">
                <p>{{proyecto2.nombreProyecto}}</p>
                <div class="icono-contenedor">
                    <a href={{proyecto2.urlGitHub}} target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                    </a>
                </div>
                </div>
            </div>
            </div>
        <!--Proyecto 3 -->
            <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src={{proyecto3.urlImagen}} alt="Proyecto 3">
                <div class="overlay">
                <p>{{proyecto3.nombreProyecto}}</p>
                <div class="icono-contenedor">
                    <a href={{proyecto3.urlGitHub}} target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                    </a>
                </div>
                </div>
            </div>
            </div>
        <!-- Proyecto 4 -->
            <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src={{proyecto4.urlImagen}} alt="Proyecto 4">
                <div class="overlay">
                <p>{{proyecto4.nombreProyecto}}</p>
                <div class="icono-contenedor">
                    <a href={{proyecto4.urlGitHub}} target="_blank"
                    rel="noopener noreferrer">
                <i class="bi bi-github"></i>
                    </a>
                </div>
                </div>
            </div>
            </div>
        <!-- Proyecto 5 -->
            <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src={{proyecto5.urlImagen}} alt="Proyecto 5">
                <div class="overlay">
                <p>{{proyecto5.nombreProyecto}}</p>
                <div class="icono-contenedor">
                    <a href={{proyecto5.urlGitHub}} target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                    </a>
                </div>
                </div>
            </div>
            </div>
        <!-- Proyecto 6 -->
            <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src={{proyecto6.urlImagen}} alt="Proyecto 6">
                <div class="overlay">
                <p>{{proyecto6.nombreProyecto}}</p>
                <div class="icono-contenedor">
                    <a href={{proyecto6.urlGitHub}} target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                    </a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <a href="" target="_blank" rel="nooperer noreferrer">
        <button type="button" class="btn btn-dark">Ver mas proyectos
            <i class="bi bi-arrow-right-circle"></i>
        </button>
        </a>
        
    </section>