<section id="aptitudes" class="aptitudes seccion-clara">
    <h2 class="seccion-titulo titulo">Aptitudes</h2>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Autodidacta
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>Desde un principio tuve mucha motivación y ganas de aprender a programar y lo hacia mirando videos en Youtube y realizando cursos online. De esta manera, pude adquirir mis conocimientos en los lenguajes Frontend.</strong>
        </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Trabajo en equipo
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>Dentro del ámbito universitario tuve la oportunidad de programar en grupo en lenguaje Java, si querés conocer mas acerca de estos proyectos te dejo el link a mi repositorio de GitHub en la sección de pie de pagina.</strong>
        </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Resolucion de problemas
        </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>Al ser autodidacta, muchas veces tuve que buscar la manera de realizar un codigo funcional, investigar y solucionar cualquier error que se genere. A su vez, en la universidad pude trabajar bastante en mis actitudes resolutivas y proactivas, trabajando en equipo y resolviendo diferentes retos.</strong>
        </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Ganas de aprender
        </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>Tengo gran interes en aprender todo lo que sea necesario para tener un buen rendimiento en diferentes puestos y tener la oportunidad de poder crecer laboralmente dentro de una empresa.</strong>
        </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Pasion por la programacion
        </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>Para mi es importante destacar que programar es algo que me apasiona, planeo dedicarme laboralmente a esto y cumplir todos mis objetivos de ahora en más.</strong>
        </div>
        </div>
    </div>
  
    
    </div>
</section>
