section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo {
    margin: 25px;
}
.accordion-button{
    background-color: #ddb0dd;
}
.accordion {
    margin: 50px;
}
.seccion-clara {
    color: black;
    background-color: white;
}
.seccion-titulo {
    font-size: 2rem;
    padding-bottom: 25px;
    font-family: 'Rubik Dirt', cursive;
}