<!-- Seccion Hero -->
<section class="hero align items-stretch">
    <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
    <img class="hero-imagen-perfil rounded-circle" src="./assets/images/fotoperfil.png" alt=" foto de Magali Galeano">
    <h1>Hola, soy {{hero.nombre}} {{hero.apellido}}</h1>
    <h2>{{hero.ocupacion}} </h2>
    </div>
    <div class="hero-inferior">
    <img class="hero-inferior-imagen img-fluid" src="./assets/images/hero2.jpg" alt="imagen de computadora">
    </div>
    </section>
