<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
    <img class="logo-footer " src="./assets/images/icono-blanco.svg" alt="Logo del Portafolio">
    <p class="footer-texto text-center">"Controlar la complejidad es la esencia de la programación"</p>
    
    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
    <a href={{footer.github}} target="_blank" rel="noopener noreferrer">
        <i class="bi bi-github"></i>
    </a>
    <a href={{footer.linkedin}} target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i>
    </a>
    <a href={{footer.email}} target="_blank" rel="noopener noreferrer">
        <i class="bi bi-envelope-at-fill"></i>
    </a>
    </div>
    <div class="copyright">Creado por Magali Galeano (2023) &#169;</div>

    </footer>
