<section id="contacto" class="contacto texto-blanco">
    <div class="container">
    <div class="container text-center rectangulo d-flex justify-content-evenly">
        <div class="row">
        <div class="col-12 col-md-4 seccion-titulo">
            ¡Hablemos!
        </div>
        <div class="col-12 col-md-4 descripcion">
            Contáctame
            <i class="bi bi-arrow-right-circle"></i>
        </div>
        <div class="col-12 col-md-4">
            <a href="mailto:magali.galeano10@outlook.com">
            <button type="button">Contacto
                <i class="bi bi-envelope-check"></i>
            </button>
            </a>
        </div>

        </div>

    </div>
    </div>

</section>
