.contacto {
    background-color: #ddb0dd;
}
.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}
.contacto .rectangulo {
    margin-top: -3rem;
    background-color: #3b1b47;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}
.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}
.contacto .descripcion {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.contacto button {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;

}
.contacto button:hover {
    background-color: white;
    color: black;
}
.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}
.contacto button:hover i {
    color: black;
}
.texto-blanco {
    color: white;
}
.seccion-titulo {
    font-size: 2rem;
    padding-bottom: 25px;
    font-family: 'Rubik Dirt', cursive;
}
.seccion-descripcion {
    font-size: 1.2rem;
    color: #181616;
    font-weight: bold;
}