    <!-- Proyectos -->
    <section id="proyectos"class="proyectos seccion-clara d-flex flex-colum">
        <h2 class="seccion-titulo texto-negro">{{proyectos.title}}</h2>
        <h3 class="seccion-descripcion">{{proyectos.description}}</h3>
        <div class="container text-center proyectos-contenedor">
        <!-- Proyecto 1 -->
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src="../assets/images/Proyecto1.PNG" alt="Proyecto 1">
                <div class="overlay">
                <p>Proyecto1</p>
                <div class="icono-contenedor d-flex justify-content-center">
                    <a href="https://github.com/magaligaleano/Estudio-juridico.git" target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                    </a>
                </div>
                </div>
            </div>
            </div>
        <!-- Proyecto 2 -->
            <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src="../assets/images/Proyecto2.PNG" alt="Proyecto 2">
                <div class="overlay">
                <p>Proyecto 2</p>
                <div class="icono-contenedor">
                    <a href="https://github.com/magaligaleano/pagina-web-programaYa.git" target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                    </a>
                </div>
                </div>
            </div>
            </div>
        <!--Proyecto 3 -->
            <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src="../assets/images/Proyecto3.PNG" alt="Proyecto 3">
                <div class="overlay">
                <p>Proyecto 3</p>
                <div class="icono-contenedor">
                    <a href="https://github.com/magaligaleano/Pagina-web-Next.git" target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                    </a>
                </div>
                </div>
            </div>
            </div>
        <!-- Proyecto 4 -->
            <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src="../assets/images/Proyecto4.PNG" alt="Proyecto 4">
                <div class="overlay">
                <p>Proyecto 4</p>
                <div class="icono-contenedor">
                    <a href="https://github.com/magaligaleano/contador-de-clics.git" target="_blank"
                    rel="noopener noreferrer">
                <i class="bi bi-github"></i>
                    </a>
                </div>
                </div>
            </div>
            </div>
        <!-- Proyecto 5 -->
            <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src="../assets/images/Proyecto5.PNG" alt="Proyecto 5">
                <div class="overlay">
                <p>Proyecto 5</p>
                <div class="icono-contenedor">
                    <a href="https://github.com/magaligaleano/Calculadora.git" target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                    </a>
                </div>
                </div>
            </div>
            </div>
        <!-- Proyecto 6 -->
            <div class="col-12 col-md-6 col-lg-4">
            <div class="proyecto">
                <img src="../assets/images/Proyecto6.PNG" alt="Proyecto 6">
                <div class="overlay">
                <p>Proyecto 6</p>
                <div class="icono-contenedor">
                    <a href="https://github.com/magaligaleano/Pagina-web-AfricanBraids.git" target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                    </a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <a href="" target="_blank" rel="nooperer noreferrer">
        <button type="button" class="btn btn-dark">Ver mas proyectos
            <i class="bi bi-arrow-right-circle"></i>
        </button>
        </a>
        
    </section>