    <!-- Acerca de mi -->
    <section id="acerca-de-mi" class="acerca-de-mi seccion-oscura">
        <div class="contenedor">
        <h2 class="seccion-titulo">Conoceme</h2>
        <p class="seccion-texto">
            Estoy cursando una tecnicatura de desarrollo web en la Universidad de la Matanza y además me encuentro
            cursando la segunda etapa en Argentina Programa.
            También aprendo programación de forma autodidacta, mirando videos y a través de cursos online.
            Domino lenguajes como HTML, CSS. JavaScript, Bootstrap, TypeScript y frameworks como Angular y React.
            Actualmente no tengo experiencia trabajando como programadora, pero tengo muchas ganas de aportar mis
            habilidades programando dentro de una empresa y seguir aprendiendo.
        </p>
        </div>
    </section>