<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h3>{{edu.titulo}}</h3> - <h4>({{edu.cursando}})</h4></li>
            <p><b>{{edu.instituto}}</b><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dignissimos rerum amet neque obcaecati voluptates impedit voluptatum. Provident nam voluptatibus, labore facilis numquam pariatur expedita ratione ad! Culpa, a voluptatum.
            </p>
        </ul>
        <ul>
            <li><h3>{{edu2.titulo}}</h3> - <h4>({{edu2.cursando}})</h4></li>
            <p><b>{{edu2.instituto}}</b><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis necessitatibus voluptates quo repellendus et. Consequatur tempora repellendus iusto vel dolorem, cumque est aliquid, tempore nisi aperiam ea nesciunt soluta corporis.
            </p>
        </ul>
        <ul>
            <li><h3>{{edu3.titulo}}</h3> - <h4>({{edu3.fechaInicio}} - {{edu3.fechaFin}})</h4></li>
            <p><b>{{edu3.instituto}}</b><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dolorem tenetur, ex incidunt nesciunt, tempore reiciendis sapiente necessitatibus, error provident accusamus accusantium inventore praesentium vel adipisci ducimus nam quam laudantium.
            </p>
        </ul>
    </div>
</div>
