<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h3>Tecnicatura en Desarrollo Web</h3> - <h4>(En curso)</h4></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, at repudiandae quos quod voluptatem veritatis nostrum hic molestiae qui. Dolorum, maiores? Ullam, dolores minima! Perspiciatis unde quia reprehenderit tempora modi.</p>
        </ul>
        <ul>
            <li><h3>Segunda etapa de Argentina Programa</h3> - <h4>(En curso)</h4></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, at repudiandae quos quod voluptatem veritatis nostrum hic molestiae qui. Dolorum, maiores? Ullam, dolores minima! Perspiciatis unde quia reprehenderit tempora modi.</p>
        </ul>
        <ul>
            <li><h3>Bachiller en Modalidad de Humanidades</h3> - <h4>(2008 - 2013)</h4></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, at repudiandae quos quod voluptatem veritatis nostrum hic molestiae qui. Dolorum, maiores? Ullam, dolores minima! Perspiciatis unde quia reprehenderit tempora modi.</p>
        </ul>
    </div>
</div>
